VITE_SUPABASE_URL=https://pounhapiujwbfqnojqbb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvdW5oYXBpdWp3YmZxbm9qcWJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1NDkyODUsImV4cCI6MjEwNDEyNTI4NX0.oaK54MUVU6pazKi03aVNo6tE9mjNTt9pg4ZVOTx3G5g
